.custom-button {
  transition: all 0.3s ease-in-out;

  .svg{
    display: inherit;
    vertical-align: middle;
    margin-right: 8px;
  }

  &:focus{
    outline: none;
  }

  &__normal{
    background: $c-normal;

    &:hover{
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), $c-normal;
    }
    &:focus{
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), $c-normal;
    }
  }
  &__primary{
    background: $c-primary;

    &:hover{
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), $c-primary;
    }
    &:focus{
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), $c-primary;
    }
  }
  &__secondary{
    background: $c-secondary;

    &:hover{
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), $c-secondary;
    }
    &:focus{
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), $c-secondary;
    }
  }
  &__ghost{
    border: 1px solid #DDD;
    background: transparent;

    &:hover{
      background: #F9F9F9;
    }
    &:focus{
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &__custom{
    width: 100%;
    padding: 12px 24px;
    @include btn-m-mont;
  }

  &__small{
    padding: 10px 24px;
    @include btn-s-mont;
  }

  &__medium{
    padding: 12px 24px;
    @include btn-m-mont;
  }

  &__large{
    padding: 15px 24px;
    @include btn-l-mont;
  }

  &__black{
    color: $c-black;
  }
  &__white{
    color: $c-white;
  }

  &__disabled{
    cursor: not-allowed;
    background: $c-gray-500;
    color: $c-gray-800;

    &:hover{
      background: $c-gray-500;
      color: $c-gray-800;
    }
  }
}




