.custom-checkbox{
  display: flex;

  input{
    width: 18px;
    height: 18px;
    border: 2px solid $c-gray-700;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-table;

    &:checked {
      background: transparent;
      border: 2px solid #000;

      &::after {
        content: '';
        background: url("~assets/img/Vector.png");
        color: black;
        position: absolute;
        top: 2px;
        left: 1px;
        width: 11px;
        height: 9px;
      }
    }
  }

  label{
    margin-left: 11px;
    vertical-align: text-bottom;
    @include text-m;
  }

  &__disabled{
    background: $c-gray-500;
    border: 2px solid $c-gray-500 !important;
  }
  a{
    text-decoration: underline;
  }
}

.errors-list {
  margin-top: 5px;

  p {
    color: $c-error !important;
    line-height: 14px !important;
    @include text-x;
  }
}
