.custom-input{
  //width: 285px;

  .w-full{
    //width: 285px;
    //height: 48px;

    .floating-input{
      border: 1px solid $c-gray-600;
      box-sizing: border-box;
      border-radius: 3px;
      height: 48px;
    }

    input{
      //width: 285px;
      height: 48px;
      background: transparent;
      padding: 12px;

      &:focus{
        border: none;
        outline: none;
      }
    }

    .icon-padding{
      padding: 12px 34px 12px 12px;
    }
    .help-text{
      margin-top: 2px;
      @include text-s;
    }

    .svg{
      width: 18px;
      height: 18px;
      position: absolute;
      right: 8px;
      top: 15px;
      //cursor: pointer;
    }

    label{
      line-height: 5px;
      font-size: 15px;
      color: #8C8C8C;
      //padding: 12px 30px 12px 12px;
    }

    .floating-input>input::placeholder {
      color: transparent;
    }

    .floating-input>input:focus,
    .floating-input>input:not(:placeholder-shown) {
      padding-top: 1.5rem;
    }

    .floating-input>input:focus~label,
    .floating-input>input:not(:placeholder-shown)~label {
      opacity: 1 !important;
      //color: $c-black;
      @apply scale-75 -translate-y-3 translate-x-1;
    }
  }

}

.has-error{
  border: 1px solid $c-error !important;
}
.disabled{
  cursor: not-allowed;
  border: 1px dashed $c-gray-600;
}
