html{
  overflow: auto !important;
}
body{
  //background: #E5E5E5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}
button{
  outline: none;
  &:focus{
    outline: none;
  }
}

a{
  text-decoration: underline;
}

//Headings
h1{
  font-size: 46px;
  line-height: 60px;
  margin-bottom: 48px;
  @include typography-heading;
}
h2{
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 32px;
  @include typography-heading;
}
h3{
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 32px;
  @include typography-heading;
}
h4{
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 25px;
  @include typography-heading;
}
h5{
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 24px;
  @include typography-heading;

  @media (max-width: $break-xs) {
    margin-bottom: 16px;
  }
}
h6{
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  @include typography-heading;
}

ul{
  list-style-type: none;
  padding-left: 0;
}
.custom-style-toast.top-right {
  min-width: 300px !important;
  right: 4% !important;
}
.toasted-container {
  .toasted{
    justify-content: left !important;
    flex-direction: column !important;
    //align-items: flex-start !important;
    padding-top: 13px !important;
    padding-bottom: 10px !important;
  }
  .success{
    flex-direction: initial !important;
  }
  .validation-style{
    flex-direction: initial !important;
  }
  .mess-container{
    margin-bottom: 4px;
    margin-top: 0;
    display: block;
    width: 100%;
  }
  .val-dot{
    margin-right: 5px;
    display: inline-block;
  }
}








