.main_container{
  @include main_container;

  .login-wrapper {
    @include auth_wrapper;

    .social-register {
      display: flex;
      justify-content: space-between;

      button {
        width: 82px;
        height: 50px;
        transition: all 0.3s ease-in-out;

        @media (max-width: $break-xxsc) {
          width: 70px;
        }

        .svg {
          margin: 0 auto;
          justify-content: center;
          display: flex;
        }
      }

      .google-btn{
        transition: all 0.3s ease-in-out;
        @include btn-m-mont;

        &:hover{
          background: #F9F9F9;
        }
        &:focus{
          background: rgba(0, 0, 0, 0.1);
        }

      }

      .twitter-btn {
        background: $c-twitter;
        transition: all 0.3s ease-in-out;

        &:hover{
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), $c-twitter;
        }
        &:focus{
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), $c-twitter;
        }

        .text {
          color: $c-white !important;
          @include btn-m-mont;
        }
      }

      .facebook-btn {
        background: $c-fb;
        transition: all 0.3s ease-in-out;

        &:hover{
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), $c-fb;
        }
        &:focus{
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), $c-fb;
        }

        .text {
          color: $c-white !important;
          @include btn-m-mont;
        }
      }
    }

    .or-block {
      margin-top: 35px !important;
      @include or_block;
    }

    .form-wrapper {
      .custom-input {
        width: 100%;
        margin-bottom: 12px;
      }

      .custom-button {
        margin-top: 32px;
      }
      .forgot-password {
        @include auth_links;
      }
    }
  }
}
