.main_container {
  @include main_container;

  .change-password-wrapper {
    @include auth_wrapper;

    .sub-title{
      color: $c-gray-800 !important;
      margin-bottom: 32px;
      @include text-m;
    }

    .form-wrapper {
      .custom-input {
        width: 100%;
        margin-bottom: 12px;
      }

      .custom-button {
        margin-top: 20px;
      }

      .back-login{
        @include auth_links;
      }

    }
  }
}
